.board {
  margin: auto;
  width: 100%;
  padding: 10px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.boardRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.capturedPieces {
  // width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
