.piece {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    -webkit-filter: brightness(70%);
    opacity: 70%;
    filter: brightness(70%);
  }
}
